<% provide(:title, "Home") %> 
<div class = "center jumbotron">
	<h1>Goodreads App<h1>
	<h3>For all your lovely book reviews<h3> 
	<div>
		<%= image_tag ("lotr.png"), :size => '160x240' %>
		<%= image_tag ("hp"), :size => '160x240' %>
		<%= image_tag ("nlmg"), :size => '160x240' %>
		<%= image_tag ("kl"), :size => '160x240' %>
	</div>
	<br></br>
	<div>
		<%= image_tag ("itw"), :size => '160x240' %>
		<%= image_tag ("be"), :size => '160x240' %>
		<%= image_tag ("f"), :size => '160x240' %>
		<%= image_tag ("trata"), :size => '160x240' %>
	</div>
</div>


