<%= provide(:title, "Browse Tags") %>

<%= link_to "Back", browse_index_path, class: "back" %>

<h1>Browse by Tags</h1>

<div>
	<%= form_tag @book, :method => 'get', :id => "products_search" do %>
  		<p>	
    		<%= text_field_tag :search, params[:search] %>
    		<%= submit_tag "Search", :name => nil %>
  		</p>
  		
  		<div id="books"><%= render 'books' %></div>
  		
	<% end %>
</div>



<ul class = "books" > 
	<%= render @books.uniq %>
</ul>

<%= will_paginate @books.uniq %>